
<h2>Ciekawe lineczki</h2>

<ul>
    <li>
        <a href="https://www.cdaction.pl/" target="_blank">CD-Action</a>"
    </li>
    <li>
        <a href="https://twitter.com/home" target="_blank">Twitter</a>"
    </li>
    <li>
        <a href="https://www.reddit.com/r/gwent/" target="_blank">r/gwent</a>"
    </li>

</ul>